.container{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
#survey-form{
    justify-content: center;
    align-items: center;
}
#title {
    text-align: center;
}
#description
{
    text-align: center;
    color: darkslategrey;
}